{% extends 'base.html.twig' %}

{% block title %}Hello ActorsController!{% endblock %}

{% block body %}

{{parent()}}

<div class="container">
    </br>
        <a class="btn btn-success" href="movies/create">Create a new movie</a>
    </br>
    </br>

    <table class="table table-light table-hover">
        <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Release year</th>
                <th>Synopsis</th>
                <th>Actors</th>                
                <th>Actions</th>
            </tr>
        </thead>
    {% for movies in movies %}
    
        
        <tr>
            <td>{{ movies.id }}</td>
            <td>{{ movies.nombre }}</td>
            <td>{{ movies.anoEstreno }}</td>
            <td>{{ movies.sinopsis }}</td>
            <td>
                {% for actors in movies.getActors() %}
                    {{actors.getNombre ~ '.'}}
                {% endfor %}
            </td>
            <td><a class="btn btn-warning" href={{'movies/edit/'~movies.id}}>Edit</a></td>
        </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}
